.base-container {
    display: inline-block;
    margin: auto;
    border: 2px solid #333;
}

.base-row {
    display: flex;
}

.cell {
    width: 8px;
    height: 8px;
    border: 1px solid #cacaca;
    background-color: white;
    transition: background-color 0.2s;
}

.cell.active {
    background-color: #4a90e2;

    animation: becomeSolid 4s ease-in-out 0s 1 normal forwards;
}

.cell.wall {
    background-color: #222;
}

@keyframes becomeSolid {
    0% {
        background-color: #4a90e2;
    }
    100% {
        background-color: #1769c7;
    }
}
