@import "../fonts/fonts";
@import "./components/all";
@import "./pages/all";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #222;
    color: white;
}
